@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-sen {
    font-family: "Sen", sans-serif;
}

.navigation {
    height: 300px
}

.mainBg {
    background: url('../images/imagebgshape.png');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}

.imgcover {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.border_right {
    border-right: 1px solid #e5e4e4;
    padding-right: 0.5rem;
    ;

}

.bgcard1 {
    background: url("../images/bgc.png");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    /* height: 300px; */
}

.bgcard4 {
    background: url("../images/bg4.png");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    /* height: 300px; */
}

.bgcard2 {
    background: url("../images/bg2.png");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    /* height: 300px; */
}

.nav-buttons button {
    border: 0;
}

.h-fit {
    height: fit-content !important;
}